@import '../../../styles.scss';

.container{
    margin: 20px;
}

.flex-content{
    @include flexBox('row');
}
.tag{
    margin-right: 10px;
    background:$green-primary;
    color: $white;
}

.title{
    color: $blue-secondary;
}