
<div class="flex-content">
  <div class="box nav-menu">

    <!-- <div class="nav-menu-img"></div> -->
    <img src="../assets/images/profile.jpg" alt="abraham-gome-profile" class="nav-menu-img">

    <p class="nav-menu-title">
      Abraham Gómez
    </p>
    <p class="nav-menu-sub-title">
      Software Developer
    </p>

    <aside class="menu">
      <ul class="menu-list">
        <li><a [routerLink]="['/home']" routerLinkActive="is-active">Home</a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="is-active" >About me</a></li>
        <li>
          <a [routerLink]="['/proyect']" routerLinkActive="is-active">Projects</a>
        </li>
        <li>
          <a>Contact me</a>
          <ul>
            <li><a href="https://github.com/abraham1432" target="_blank"> <i class="fab fa-github github"></i> Github</a></li>
            <li><a href="https://www.linkedin.com/in/abraham-gomez1432/" target="_blank"><i class="fab fa-linkedin linkedIn"></i> LinkedIn</a></li>
            <li><a href="https://twitter.com/jgomez1432" target="_blank"><i class="fab fa-twitter twitter"></i> Twitter</a></li>
            <li><a href="mailto:gomezabraham1432@protonmail.com" target="_blank"><i class="fas fa-envelope email"></i> E-mail</a></li>
          </ul>
        </li>
      </ul>
    </aside>

    <p class="nav-menu-verion">
      V {{verion}}
    </p>

  </div>

  <div class="background-img">
    <router-outlet></router-outlet>
  </div>

</div>


