<div class="columns">

  <div class="column">

    <section class="hero">
      <div class="hero-body">
        <div class="container">
            <div class="box">
            <!-- <img class="is-square" src="../assets/images/AG.png"> -->
            <h1 class="title is-2">
             Abraham Gómez
            </h1>
            <h2 class="subtitle has-text-info-dark">
              Front-End Developer <br>  
            </h2>
            <h2 class="subtitle">
              JavaScript lover 💻 
            </h2>
            <nav class="breadcrumb is-large" aria-label="breadcrumbs">
              <ul>
                <li class="is-active"><a href="#">Proyectos</a></li>
                <li><a href="#" class="has-text-info-dark">Conóceme</a></li>
                <li><a href="#" class="has-text-info-dark">habilidades</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="container">

        <div class="box">

          <h1 class="title">Contactame</h1>
          
          <div class="columns is-mobile is-multiline is-centered">
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fab fa-3x fa-linkedin"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fab fa-3x fa-github-square"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fab fa-3x fa-twitter-square"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fas fa-3x fa-envelope-square"></i>
              </span>
            </div>
          </div>

        </div>
        
      </div>
    </section>

  </div>

  <div class="column is-8">
    
    
    <section class="section">
      <div class="container">

          <div class="columns">

          <div class="column">
            <div class="box">
              <h1 class="title has-text-info-dark">MedicalBridge</h1>
              <hr>
              <h3 class="subtitle is-4">Proyecto para agendar consultorios especializados a médicos, gestion de citas y roles de usuarios.</h3> 
              
              <div class="field is-grouped is-grouped-multiline">
                <div class="control" *ngFor="let stack of stackMedic">
                  <div class="tags has-addons">
                    <span class="tag is-link">{{stack}}</span>
                  </div>
                </div>
              </div>
          
            </div>
          </div>

          <div class="column is-6">
            <div class="box">
              <h1 class="title has-text-info-dark">MedicalBridge</h1>
              <hr>
              <h3 class="subtitle is-4">Proyecto para agendar consultorios especializados a médicos, gestion de citas y roles de usuarios.</h3> 
              
              <div class="field is-grouped is-grouped-multiline">
                <div class="control" *ngFor="let stack of stackMedic">
                  <div class="tags has-addons">
                    <span class="tag is-link">{{stack}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>

        </div>
      </section>


  </div>

</div>

<router-outlet></router-outlet>